**/.dockerignore
!.git/refs/heads/**
!.git/packed-refs
!.git/config
!.git/HEAD
!**/.gitignore
README.md
LICENSE
**/values.dev.yaml
**/secrets.dev.yaml
**/obj
**/npm-debug.log
**/node_modules
**/Dockerfile*
**/docker-compose*
**/charts
**/bin
**/azds.yaml
**/*.jfm
**/*.dbmdl
**/*.*proj.user
**/.idea
**/.vscode
**/.vs
**/.toolstarget
**/.settings
**/.project
**/.gitignore
**/.git
**/.env

