name: PR Labeler

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  label:
    uses: empreendimentopaguemenossa/github-standards-reusables/.github/workflows/pr-labeler.yml@main
    permissions:
      contents: read
      pull-requests: write
    secrets: inherit
